/* 清空元素浏览器默认的属性值 */
*{
    margin: 0;
    padding: 0;
}
/* 清除超级链接下划线 */
a{
    text-decoration: none;
    color: #8b8b8b;
}
ul{
    list-style-type: none;
}
/* 添加卖家通用样式*/
/* 添加顶部通用样式 */
#top-nav{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 12px;
    color: #8b8b8b;
    text-align: center;
    position: relative;
    z-index: 10000;
}
#top-nav>.tnleft{
    float: left;
    width: 80px;
    margin: 10px 0px 10px 0px;
    border-right: 1px solid #ccc;
}
#top-nav>.tnmid{
    float: left;
    padding: 10px;

}
#top-nav>.tnright{
    float: right;
    width: 510px;
    position: relative;
    z-index: 10000 !important;
}
#top-nav>.tnright>ul{
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 10000 !important;
}
#top-nav>.tnright>ul>li{
    float: left;
    padding: 10px 0;
    text-align: center;
    color: #8b8b8b;
}
#top-nav>.tnright>ul>.mytaobao{
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 10000 !important;
}
#top-nav>.tnright .menu{
    position: relative;
    padding-right: 10px;
    z-index: 10000 !important;
}
#top-nav>.tnright .menu:hover{
    position: relative;
    background-color: white;
    border: solid 1px #ebebeb;
    border-bottom: none;
    /* margin: 2px 0 0; */
}
#top-nav>.tnright .menu-hd{
    position: relative;
    display: block;
    cursor: pointer;
    color: #8b8b8b;
    padding: 0 10px;
    z-index: 10002 !important;
}
#top-nav>.tnright>ul b{
    position: absolute;
    border:4px solid #666;
    width: 0px;
    top: 5px;
    right: 0;;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
#top-nav>.tnright .menu-bd{
    width: 94px;
    /* display: none; */
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10002 !important;
    right: 0px;
}
#top-nav>.tnright>ul>li:nth-child(1)>div{
    width: 80px;
}
#top-nav>.tnright>ul>li:nth-child(2)>div{
    width: 85px;
    border-left: 1px solid #ccc;
}
#top-nav>.tnright>ul>li:nth-child(3)>div{
    width: 110px;
    border-left: 1px solid #ccc;
}
#top-nav>.tnright>ul>li:nth-child(4)>div,li:nth-child(5)>div,li:nth-child(6)>div{
    width: 68px;
    border-left: 1px solid #ccc;
}

#top-work{
    background-color: #497cf0;
    height: 60px;
    position: relative;
    z-index: 0;
}
#top-work>.work{
    width: 1280px;
    margin: 0 auto;
    text-align: left;    
    position: relative;
    z-index: 0;
}
#top-work>.work>span>a{
    line-height: 60px;
    color: white;
}
#top-work>.work span:nth-child(1){
    font-size: 25px;
    margin-right: 10px;
}
#top-work>.work span:nth-child(2){
    font-size: 14px;
}
/* 添加底部通用样式 */
#bot{
    width: 1200px;
    /* height:1600px ; */
    margin: 0 auto;
    padding: 15px 0;
    /* border: solid 1px red; */
    position: relative;
    overflow: hidden;
}
#bot>div>span{
    border-right:solid 2px #ccc;
    padding:0 10px;
    /* margin: 5px; */
    font-size: 10px;
}

#bot>div>span>a{
    text-decoration: none;
}
#bot>div>span>a:link{
    color: #ccc;

}
#bot2{
    width: 1200px;
    /* height:1600px ; */
    margin: 0 auto;
    padding: 15px 0;
    /* border: solid 1px red; */
    position: relative;
    overflow: hidden;
    color: #ccc;
}
#bot2>div>span{
    /* border-right:solid 2px #ccc; */
    padding:0 5px;
    /* margin: 5px; */
    font-size: 10px;
}

#bot2>div>span>a{
    text-decoration: none;
}
#bot2>div>span>a:link{
    color: #ccc;

}
/* 添加右侧悬浮窗通用样式 */
#suspension{
    background-color: #fff;
    width: 100px;
    /* height: 400px; */
    position: fixed;
    right: 0;
    top:180px;
    z-index: 10000;

}
#suspension>div{
    border:solid 1px #ccc;
}
#suspension>div>p{
    margin: 0;
    padding: 15px 10px;
    font-size: 10px;
    color: #ccc;
    list-style: none;
}
#suspension>div>p:nth-child(1){
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    background-color: rgb(131, 131, 255);
}
#suspension>div>p>span{
    color: #fff;
    position:relative;
    float: right;
    cursor: pointer;
}