<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的订单</title>
    <link rel="stylesheet" href="/static/order/css/order.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="stepbar">
        <div class="img">
            <img src="/static/order/img/tb_log.png" alt="">
        </div>
        <div class="bar">
            <div class="bar_t">查看购物车</div>
            <div class="flag">
                <div class="sel_t"></div>
                <div class="sel_c"></div>
                <div class="sel_b"></div>
            </div>
            <div class="bar_t">拍下商品</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">付款到支付宝</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">确认收货</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">评价</div>
        </div>
    </div>

    <div id="address">
        <div class="add-top">
            <p >确认收货地址</p>
            <a href="#">管理收货地址</a>
        </div>
        <div class="add-list">
            <div class="addr-sel">
                <div class="addr-l">
                    <img src="/static/order/img/addr.png" alt="">
                    <p>寄送至</p>
                </div>
                <div class="addr-c">
                    <input type="radio" name="addr" id="" checked>
                    <span class="">湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span class="ll">13000000000 </span>
                    <span class="ll">默认地址 </span>
                </div>
                <div class="addr-r">
                    <a href="#">修改本地址</a>
                </div>
            </div>
            <div class="addr-dissel">
                <div class="addr-c">
                    <input type="radio" name="addr" id="">
                    <span>湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span  class="ll">13000000000 </span>
                </div>
            </div>
            <div class="addr-dissel">
                <div class="addr-c">
                    <input type="radio" name="addr" id="">
                    <span>湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span  class="ll">13000000000 </span>
                </div>
            </div>
            <div class="addr-b">
                <button>使用新地址</button>
            </div>
        </div>
    </div>

    <div id="order">
        <div class="title">
            <div>确认订单信息</div>
            <div class="title_head">
                <div class="goods">店铺宝贝</div>
                <div class="attr">商品属性</div>
                <div class="price">单价</div>
                <div class="count">数量</div>
                <div class="cal">小计</div>
            </div>
        </div>
        <div class="order_all">
            <!-- 循环不同的店铺 -->
            <div class="order_one">
                <div class="order_head">
                    <div>店铺: DH男装馆1988</div>
                    <div>卖家: goodhod</div>
                </div>
                <div class="order_list">
                    <!-- 循环同一个店铺的商品 -->
                    <div class="order_list_goods">
                        <div class="img">
                            <img src="/static/order/img/1_100x100q.jpg" alt="">
                        </div>
                        <div class="title">夏季薄款高领短袖男t恤莫代尔韩...</div>
                        <div class="attr">
                            <div>颜色：酒红色</div>
                            <div>尺码：3XL</div>
                        </div>
                        <div class="price">238.00</div>
                        <div class="count">1</div>
                        <div class="cal">89.00</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="msg">给卖家留言: <input type="text"> 
                    </div>
                    <div class=msg_r>
                        <div class="postage">配送方式: 普通配送 快递 免邮</div>
                        <div class="senddate">发货时间: 卖家承诺订单在买家付款后, 48小时内发货</div>
                        <div class="freight">运费险:运费险卖家送,确认收货前退货可赔</div>
                    </div>
                    <div class="paymoney">
                        <span>店铺合计(含运费): </span>
                        <span class="flag">￥</span>
                        <span class="price">89.00</span>
                    </div>
                </div>
            </div>


            <div class="order_one">
                <div class="order_head">
                    <div>店铺: DH男装馆1988</div>
                    <div>卖家: goodhod</div>
                </div>
                <div class="order_list">
                    <!-- 循环同一个店铺的商品 -->
                    <div class="order_list_goods">
                        <div class="img">
                            <img src="/static/order/img/1_100x100q.jpg" alt="">
                        </div>
                        <div class="title">夏季薄款高领短袖男t恤莫代尔韩...</div>
                        <div class="attr">
                            <div>颜色：酒红色</div>
                            <div>尺码：3XL</div>
                        </div>
                        <div class="price">238.00</div>
                        <div class="count">1</div>
                        <div class="cal">89.00</div>
                    </div>

                    <div class="order_list_goods">
                            <div class="img">
                                <img src="/static/order/img/2_jpg_80x80.jpg" alt="">
                            </div>
                            <div class="title">正品新款Lining/李宁羽毛球服 男女短袖TD版运动服AAYL014/009...</div>
                            <div class="attr">
                                <div>颜色分类：AAYL038黑绿条纹 女款短袖</div>
                                <div>尺码：XL</div>
                            </div>
                            <div class="price">79.00</div>
                            <div class="count">1</div>
                            <div class="cal">79.00</div>
                        </div>
                    
                </div>
                <div class="bottom">
                    <div class="msg">给卖家留言: <input type="text"> 
                    </div>
                    <div class=msg_r>
                        <div class="postage">配送方式: 普通配送 快递 免邮</div>
                        <div class="senddate">发货时间: 卖家承诺订单在买家付款后, 48小时内发货</div>
                        <div class="freight">运费险:运费险卖家送,确认收货前退货可赔</div>
                    </div>
                    <div class="paymoney">
                        <span>店铺合计(含运费): </span>
                        <span class="flag">￥</span>
                        <span class="price">79.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub">
            <div class="null">

            </div>
            <div class="sub_r">
                <div class="t">
                    <span class="tit">实付款:</span>
                    <span class="sign">￥</span>
                    <span class="money">168.00</span>
                </div>
                <div class="m">
                    <span class="tit">寄送至：</span>
                    <span class="list">湖北省 武汉市 洪山区 花山街道碧桂园生态城依云30栋</span>
                </div>
                <div class="b">
                    <span class="tit">收货人：</span>
                    <span class="list">雷大大 13012345678</span>
                </div>
            </div>
            <div class="ready">
                <div class="null"></div>
                <div class="submit">
                    <input type="submit" value="提交订单">
                </div>
            </div>
        </div>
    </div>

    <script src="/static/order/js/order.js"></script>
</body>
</html>