<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的订单</title>
    <link rel="stylesheet" href="/static/order/css/order.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
    <div id="stepbar">
        <div class="img">
            <img src="/static/order/img/tb_log.png" alt="">
        </div>
        <div class="bar">
            <div class="bar_t">查看购物车</div>
            <div class="flag">
                <div class="sel_t"></div>
                <div class="sel_c"></div>
                <div class="sel_b"></div>
            </div>
            <div class="bar_t">拍下商品</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">付款到支付宝</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">确认收货</div>
            <div class="flag">
                <div class="dis_t"></div>
                <div class="dis_c"></div>
                <div class="dis_b"></div>
            </div>
            <div class="bar_t">评价</div>
        </div>
    </div>

    <div id="address">
        <div class="add-top">
            <p >确认收货地址</p>
            <a href="#">管理收货地址</a>
        </div>
        <div class="add-list">
            <div class="addr-sel">
                <div class="addr-l">
                    <img src="/static/order/img/addr.png" alt="">
                    <p>寄送至</p>
                </div>
                <div class="addr-c">
                    <input type="radio" name="addr" id="" checked>
                    <span class="">湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span class="ll">13000000000 </span>
                    <span class="ll">默认地址 </span>
                </div>
                <div class="addr-r">
                    <a href="#">修改本地址</a>
                </div>
            </div>
            <div class="addr-dissel">
                <div class="addr-c">
                    <input type="radio" name="addr" id="">
                    <span>湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span  class="ll">13000000000 </span>
                </div>
            </div>
            <div class="addr-dissel">
                <div class="addr-c">
                    <input type="radio" name="addr" id="">
                    <span>湖北省 </span>
                    <span>武汉市 </span>
                    <span>洪山区 </span>
                    <span>花山街道 </span>
                    <span> 碧桂园生态城依云3栋 </span>
                    <span>（雷大大 收）</span>
                    <span  class="ll">13000000000 </span>
                </div>
            </div>
            <div class="addr-b">
                <button>使用新地址</button>
            </div>
        </div>
    </div>

    <script src="/static/order/js/order.js"></script>
</body>
</html>