/* 清空元素浏览器默认的属性值 */
*{
    margin: 0px;
    padding:0px;
}
/* 消除列表元素默认样式 */
ul{
    list-style-type: none;
}
/* 清楚超级链接默认样式 */
a{
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
/* 编写导航条样式 */
#div2{
    overflow:hidden;
    border:1px solid #0ff;
    top:0;
    left:0;
    position:relative;
    margin:auto;
    width:1190px;
    height:552px;
}
#div2 *{
    float:left;
    text-decoration:none;
}
#div2 a{
    color:#fff;
    float:none;
    text-decoration:none;
}
#div2 .pipe{
    font-size:18px;
    margin:6px auto;
    color:#fff;
}
/* 正中的导航栏 */
#divmid{
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    height: 35px;
    position:absolute;
    width:100%;
}
#divmid li{
    list-style:none;
    height:20px;
    margin:6px 8px;
    font-size:15px;
    font-weight:700;
}
#divmid>div{
    width:200px;
    height:35px;
    text-align: center;
    background-color:rgba(255,80,11,1);
    color: #fff;
    font-size:20px;
    font-weight:bold;
}
#divmid .main{
    margin:4px 16px;
    font-size:17px;
}
/* 左侧的分类列表 */
#divleft{
    width: 198px;
    height:515px;
    border:1px solid #ff5000;
    position:absolute;
    top: 34px;
}
#divleft li{
    padding: 10px 12px;
    overflow:hidden;
}
#divleft a{
    color:#666;
    margin: 0px 8px;
}
.arrowhead{
    float: right !important;
    margin:6px;
    border:5px solid rgba(0, 0, 0, 0);
    border-left-color:#888;
}
/* 中间的广告部分 */
#divad{
    position:absolute;
    width:512px;
    height:512px;
    padding:5px;
    left:200px;
    top:35px;
}
#pic01{
    width:100%;
}
#divad .lleft{
    top:45%;
    left:5px;
    position:absolute;
}
#divad .rright{
    top:45%;
    right:5px;
    position:absolute;
}
#divleft li:hover{
    background-color:#ffe4dc;
    color:#ff5000;
}
#divleft li>a:hover{
    text-decoration: underline;
    color:#ff5000;
}
.hid{
    display:none !important;
}
.show{
    display:block;
}
#divhide{
    position:absolute;
    background-color:#fff;
    border:2px solid #f94a14;
    width:714px;
    height:504px;
    padding:5px;
    left:200px;
    top:34px;
}
#div2 .hidItem>a{ 
    color:black;
    padding:10px;
}