*{
    padding: 0;
    margin: 0;
}
a{
    font-size: 12px;
    text-decoration: none;
}
a:link{
    color:#3366cc;
}
a:visited{
    color:#3366cc;
}
a:hover{
    color: red;
}


#stepbar{
    font-size: 14px;
    height: 78px;
    width: 990px;
    margin:0 auto;
    border:solid 0px red;
    position: relative;
}

#stepbar>.img{
    float: left;
    width: 144px;
    padding: 18px 0px 12px 0px;
}
#stepbar>.img>img{
    width: 100%;
}
#stepbar>.bar{
    height: 23px;
    float: right;
    border:solid 0px royalblue;
    padding: 33px 0px 12px 0px;
    position: relative;
    text-align: center;
    line-height: 23px;
}
#stepbar>.bar>.bar_t{
    float: left;
    width: 158px;
    height: 23px;
    border:solid 0px red;
    color:#424242;
    /* background: #FFFFFF; */
    background-color: #E3E3E3;
}

#stepbar>.bar>.bar_t:nth-child(1){
    border-radius: 5px 0 0 5px;
    background-color: #FF4503;
    color:#FFFFFF;
}
#stepbar>.bar>.bar_t:nth-child(9){
    border-radius: 0 5px 5px 0;
}

#stepbar>.bar>.flag{
    float: left;
    width: 15px;
    height: 23px;
    border:solid 0px blue;
    color:#424242;
    background: #FFFFFF;
    position: absolute;
}

#stepbar>.bar>.flag:nth-child(2){
    left:144px;
}
#stepbar>.bar>.flag:nth-child(4){
    left:304px;
}
#stepbar>.bar>.flag:nth-child(6){
    left:464px;
}
#stepbar>.bar>.flag:nth-child(8){
    left:624px;
}

#stepbar>.bar>.flag>.sel_t{
    height: 0;
    width: 0;
    border:solid 11.5px #FF4503;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 0px;
    top:0px;
}

#stepbar>.bar>.flag>.sel_c{
    height: 0;
    width: 0;
    border:solid 12px #E3E3E3;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 3px;
    top:0px;
}

#stepbar>.bar>.flag>.sel_b{
    height: 0;
    width: 0;
    border:solid 12px #E3E3E3;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: 3px;
    bottom:0px;
}

#stepbar>.bar>.flag>.dis_t{
    height: 0;
    width: 0;
    border:solid 11.5px #E3E3E3;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 0px;
    top:0px;
}

#stepbar>.bar>.flag>.dis_c{
    height: 0;
    width: 0;
    border:solid 12px #E3E3E3;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 3px;
    top:0px;
}

#stepbar>.bar>.flag>.dis_b{
    height: 0;
    width: 0;
    border:solid 12px #E3E3E3;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: 3px;
    bottom:0px;
}


#address{
    font-size: 14px;
    width: 990px;
    margin:0 auto;
}

#address>.add-top{
    height: 20px;
    border-bottom: solid 2px #f1f1f1;
    margin-bottom: 20px;
}
#address>.add-top>p{
    float: left;
}

#address>.add-top>a{
    float: right;
}

#address>.add-list>.addr-sel{
    background-color:#FFF0E8;
    position: relative;
    height: 30px;
    line-height: 30px;
    border:solid 1px red;
    margin: 2px 0;
}
#address>.add-list>.addr-sel>.addr-l{
    float: left;
}
#address>.add-list>.addr-sel>.addr-l>img{
    height: 20px;
    padding: 5px;
    float: left;
}
#address>.add-list>.addr-sel>.addr-l>p{
    float: left;
    margin: 0px 10px;
}
#address>.add-list>.addr-sel>.addr-c{
    float: left;
    position: absolute;
    left: 100px;
}
#address>.add-list>.addr-sel>.addr-c>.ll{
    color:#808080;
    margin: 0 10px;
}
#address>.add-list>.addr-sel>.addr-r{
    float: right;
    padding: 0 10px 0 0;
}


#address>.add-list>.addr-dissel{
    background-color:#FFFFFF;
    position: relative;
    height: 30px;
    line-height: 30px;
    margin: 2px 0;
}
#address>.add-list>.addr-dissel>.addr-c{
    float: left;
    position: absolute;
    left: 100px;
}
#address>.add-list>.addr-dissel>.addr-c>.ll{
    color:#808080;
    margin: 0 10px;
}

#address>.add-list>.addr-b{
    background-color:#FFFFFF;
    position: relative;
    height: 40px;
    line-height: 30px;
    margin: 2px 0;
}
#address>.add-list>.addr-b>button{
    position: absolute;
    left:117px;
    width: 100px;
    height: 30px;
    margin: 5px 0;
}


/* order */
#order{
    font-size: 14px;
    width: 990px;
    margin:0 auto;
}
/* #order div{
    border: solid 1px red;
} */
#order>.title>.title_head{
    height: 23px;
    vertical-align:middle;
}
#order>.title>.title_head>div{
    float: left;
    border-bottom:solid 3px #AFCFFE;
    text-align: center;
}

#order>.title>.title_head>.goods{
    width: 326px;
    margin-right: 2px;
}
#order>.title>.title_head>.attr{
    width: 200px;
    margin: 0 2px;
}
#order>.title>.title_head>.price{
    width: 150px;
    margin: 0 2px;
}
#order>.title>.title_head>.count{
    width: 150px;
    margin: 0 2px;
}
#order>.title>.title_head>.cal{
    width: 136px;
    margin: 0 2px;
    text-align: right;
    padding-right:10px; 
}
#order>.order_all{
    font-size: 12px;
}
#order>.order_all>.order_one{
    width: 990px;
}

#order>.order_all>.order_one>.order_head{
    width: 990px;
    height: 40px;
    border-bottom:  1px dotted #80b2ff;
}

#order>.order_all>.order_one>.order_head>div{
    margin-top: 18px;
    float: left;
}

#order>.order_all>.order_one>.order_head>div:nth-child(1){
    width: 150px;
}
#order>.order_all>.order_one>.order_head>div:nth-child(1){
    width: 150px;
}

#order>.order_all>.order_one>.order_list>.order_list_goods{
    height: 52px;
    background-color: #FBFCFF;
    margin: 2px 0;
}

#order>.order_all>.order_one>.order_list>.order_list_goods>div{
    float: left;
}
#order>.order_all>.order_one>.order_list>.order_list_goods>.img{
    height: 50px;
    width: 50px;
}

#order>.order_all>.order_one>.order_list>.order_list_goods>.img>img{
    height: 100%;
    width: 100%;
}

#order>.order_all>.order_one>.order_list>.order_list_goods>.title{
    width: 273px;
}
#order>.order_all>.order_one>.order_list>.order_list_goods>.attr{
    width: 135px;
    padding: 0 0 0 80px;
}
#order>.order_all>.order_one>.order_list>.order_list_goods>.price{
    width: 150px;
    text-align: center;
}
#order>.order_all>.order_one>.order_list>.order_list_goods>.count{
    width: 150px;
    text-align: center;
}
#order>.order_all>.order_one>.order_list>.order_list_goods>.cal{
    width: 140px;
    text-align: right;
    color:#f40;
    font-weight: 700;
    padding-right:10px; 

}
#order>.order_all>.order_one>.bottom{
    height: 185px;
}

#order>.order_all>.order_one>.bottom>div{
    float: left;
}
#order>.order_all>.order_one>.bottom>.msg{
    height: 119px;
    width: 425px;
    background-color: #f2f7ff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 10px;
}

/* #order>.order_all>.order_one>.bottom>.msg_r{
    height: 119px;
    width: 563px;
} */
#order>.order_all>.order_one>.bottom>.msg_r>div{
    height: 25.5px;
    width: 483px;
    background-color: #f2f7ff;
    border-bottom: 1px solid #fff;
    padding: 10px 9px 10px 50px;
    line-height: 25px;
    
}

#order>.order_all>.order_one>.bottom>.paymoney{
    height: 25.5px;
    width: 969px;
    background-color: #f2f7ff;
    border-bottom: 1px dotted #80b2ff;
    padding: 10px;
    line-height: 25.5px;
    text-align: right;
    vertical-align: center;
}

#order>.order_all>.order_one>.bottom>.paymoney>.flag{
    color: #f40;
    font-size: 16px;
    font-weight: 700;
    vertical-align: center;
}
#order>.order_all>.order_one>.bottom>.paymoney>.price{
    color: #f40;
    font-size: 16px;
    font-weight: 700;
    vertical-align: center;
}

#order>.sub>.null{
    float: left;
    border: solid 0px #FF4503;
    height: 120px;
    width: 542px;
}
#order>.sub>.sub_r{
    float: left;
    border: solid 1px #FF4503;
    height: 120px;
    width: 435px;
    text-align: right;
    padding-right: 10px;
}

#order>.sub>.sub_r>.t{
    padding: 8px;
}

#order>.sub>.sub_r .tit{
    font-weight: 1000;
    color: #333333;
}

#order>.sub>.sub_r .list{
    color: #3C3C3C;
}

#order>.sub>.sub_r>.t>.sign{
    font-size: 26px;
    color: #989898;
}

#order>.sub>.sub_r>.t>.money{
    font-size: 26px;
    color: #FF4503;
    font-weight: 800;
}
#order>.sub>.sub_r>.m{
    margin-bottom: 3px;
}

#order>.sub>.ready{
    float: left;
    text-align: right;
}

#order>.sub>.ready>.null{
    float: left;
    width: 869px;
    height: 42px;
    border: solid 0px red;
}

#order>.sub>.ready>.submit{
    float: right;
    width: 120px;
    height: 42px;
    background-color: #FF4503;
}
#order>.sub>.ready>.submit>input{
    width: 100%;
    height: 100%;
    background-color: #FF4503;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}

#order>.sub>.ready>.submit>input:hover{
    cursor: pointer;
}